@model FileCustomAttribute.Models.FileModel
<h2> Here Upload Files</h2>
<form method="post" enctype="multipart/form-data" asp-action="Index" asp-controller="File">

    <hr />
    <div class="form-group">
        <label class="text-danger col-md-4">@ViewBag.Message</label>
    </div>
    <div class="form-group">
        <label class="col-md-2" asp-for="formFile"> Upload First File</label>
        <div class="col-md-10">
            <input type="file" asp-for="formFile" class="form-control" />
            <span asp-validation-for="formFile" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-10 offset-md-2">
            <br />
            <br />
            <br />
            <input Value="Upload" name="Upload Files" type="submit" class="btn btn-success" />
        </div>
    </div>

</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
